.note {
  text-align: left;
  padding: 15px;
  color: rgb(68, 182, 235);
}
.login-box {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}
.login-box button {
  align-self: flex-end;
}
.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}
/* .button-div button {
  width: 150px;
  height: 50px;
  font-size: 30px;
  border-radius: 15px;
  background-color: #3d99be;
  border: none;
  color: #fff;
} */
.pro {
  color: #000;
  line-height: 75px;
}
