.title {
  width: 100%;
  height: 50px;
}
.policy-boxes {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 30px;
  place-items: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.policy-box {
  width: 25%;
  height: 500px;
  box-shadow: 0 0 0.1rem rgb(0 0 0 / 10%), 0 0.15rem 0.9rem rgb(0 0 0 / 10%);
  border-radius: 15px;
  background-color: #9cc3d5ff;
}
.policy-title {
  width: 100%;
  height: 18%;
  /* display: flex;
  justify-content: center;
  place-items: center; */
  padding: 20px 0px 0px 30px;
}
.policy-inform {
  width: 100%;
  height: 67%;
  /* background-color: #3ab5b0; */
  background-color: #3d99be;
  padding: 30px 50px 50px 50px;
  font-size: 20px;
  border-radius: 15px;
}
.submi {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: center;
  place-items: center;
}
.extra {
  text-align: center;
  vertical-align: middle;
}
.pro2 {
  width: 200px;
  height: 200px;
  /* line-height: 10px; */
  font-size: 20px;
  margin-bottom: 30px;
}
Button {
  width: 80%;
  /*   */
}
.b {
  color: white;
  font-weight: 300;
}
.bo {
  width: 100%;
}
Skeleton {
  color: #fff;
  background-color: #fff;
}
