.userdetbox {
  width: 100%;
  height: 70vh;
  justify-content: center;
  text-align: center;
  place-items: center;
  background-color: blue;
  padding: 40px;
}
form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;

  margin-left: auto;
  margin-right: auto;
}
.userdet {
  display: flex;
  width: 90%;
  padding: 30px;
  justify-content: space-around;
  gap: 10px;
}
